{% extends "base.html.twig" %}

{% block title %}
    Gestions des événements
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gestions des événements</h1>

        <div class="row">
            <div class="col-auto">
                <a href="{{ path('admin.event.new') }}" class="btn btn-primary">Ajouter</a>
            </div>
        </div>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Actions</th>
                </tr>
            </thead>
                <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td><a href="{{ path('admin.event.edit', {id: event.id, slug: event.slug }) }}" class="btn btn-primary">Éditer</a>

                    <form method="post" action="{{ path('admin.event.delete', {id: event.id}) }}" style="display: inline-block;" onsubmit="return confirm('Etes-vous vraiment sûr ?')" >
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                   </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}